<div class='comments'>
  {{#if this}}
    <p class='mt-4'>Click on Comment below to Update or Delete</p>
  {{/if}}
  {{#each this}}
    <section class='comment'>
      <div class='meta'>
        Comment by
        {{user.username}}
        on
        {{format_date created_at}}
      </div>
      <div class='text'>
        <strong><a href='/comment/{{id}}'>{{comment_text}}</a></strong>
      </div>
    </section>
  {{/each}}
</div>