<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mark's Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">Mark's Tech Blog</a>
        </h1>
        <nav>
          <a href="/homepage">Homepage</a>
          <a href="/dashboard">Dashboard</a>
          <a href="/login">Login</a>
          <button id="logout" class="btn-no-style">Logout</button>
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        &copy;2022 Mark Elliott All Rights Reserved
      </footer>
    </div>

    <script src="/javascript/logout.js"></script>
  </body>

</html>