<section>
  <h2><a href='/new'>Create New Post</a></h2>
</section>

{{#if posts.length}}
<section>
    <h2>Your Posts</h2>
<ol>  
  {{#each posts as |post|}}
    <li>
      {{>post-info post}}
    </li>
  {{/each}}
</ol>
</section>
{{/if}}
