<div class="container">
  <div class="row">
    <div class="col-1 col-md-2 col-xl-3"></div>
     <div class="col-10 col-md-8 col-xl-6">
       {{#if posts.length}}
        <section>
            <h2 class="center-heading">Your Posts</h2>
        <ul>  
          {{#each posts as |post|}}
            <li>
              {{>post-info post}}
            </li>
          {{/each}}
        </ul>
        </section>
      {{/if}}
     </div>
      <div class="col-1 col-md-2 col-xl-3"></div>
  </div>
</div>


<section>
  <h2 class="center-heading"><a href='/new'>Create New Post</a></h2>
</section>