/* Set background image */
body {
  background-image: url(../images/2h-media-YWIgfYaTvYw-unsplash.jpg);
}

/* Set default link colors */
a {
  color: black;
}
a:hover {
  color: blue;
}

/* Turn off bullet points */
ul {
  list-style-type: none;
}

/* Center the headings */
.center-heading {
  display: block;
  text-align: center;
}

/* style login/signup buttons */
.login-btn,
.signup-btn,
.add-comment-btn,
.post-create-btn {
  width: 150px;
  padding: 4px;
  margin: 4px auto;
  text-align: center;
  display: block;
}

.save-post-btn,
.delete-post-btn,
.update-comment-btn,
.delete-comment-btn {
  width: 150px;
  padding: 4px;
  margin: 4px auto;
}

.delete-post-btn,
.delete-comment-btn {
  float: right;
}

/* styling for input fields */
#update-post-title,
#post-title,
#post-content {
  width: 100%;
}

#post-content {
  height: 30%;
}

#update-post-content,
#update-comment-text,
.comment-text-area {
  width: 100%;
}

#update-post-content,
#update-comment-text {
  height: 20%;
}

.comment-text-area {
  height: 10%;
}
